<!Doctype html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>
    <title></title>
</head>
<body>
  <nav layout:replace="~{layout/header :: header}"></nav>
  <div class="container-fluid">
      <div class="row">
          <nav class="col-sm-2 bg-light sidebar pt-2">
              <div layout:replace="~{layout/menu :: menu}"></div>
          </nav>
      </div>
  </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 offset-sm-2 main">
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>
</body>
</html>