<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="/css/login/login.css">
    <script th:src="/webjar/bootstrap/5.3.8/js/bootstrap.min.js"></script>
    <title>ユーザー登録</title>
</head>
<body>
  <form id="signup-form" method="post" action="/user/signup" class="form-signup">
      <h1 class="text-center">ユーザー登録</h1>
      <div class="form-group">
          <label for="userId">ユーザーID</label>
          <input type="text" class="form-control" id="userId"/>
      </div>
      <div class="form-group">
          <label for="password">パスワード</label>
          <input type="password" class="form-control" id="password"/>
      </div>
      <div class="form-group">
          <label for="userName">ユーザー名</label>
          <input type="text" class="form-control" id="userName"/>
      </div>
      <div class="form-group">
          <label for="birthday">誕生日</label>
          <input type="text" class="form-control" id="birthday"/>
      </div>
      <div class="form-group">
          <label for="age">年齢</label>
          <input type="text" class="form-control" id="age"/>
      </div>
      <div class="form-group">
          <div th:each="item:${genderMap}" class="form-check-inline">
              <input th:id="'gender' + ${item.value}" type="radio" class="form-check-input" th:value="${item.value}"/>
              <label class="form-check-label" th:text="${item.key}" th:for="'gender' + ${item.key}"></label>
          </div>
      </div>
      <input type="submit" value="ユーザー登録" class="btn btn-primary w-100 mt-3"/>
  </form>
</body>